.navbar {
  height: 100vh;
  width: 5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: width 1s cubic-bezier(0.1,2,0.1,1.0);
  background-color: $bg-secondary;

  .logo {
    height: 5rem;
    width: 100vw;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $txt-primary;

    .brand {
      height: 4rem;
      width: 11rem;
      margin-left: 1rem;
      display: none;
      font-family: $roboto;
      font-size: 3rem;
      color: $black;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px $gold;
      background-color: $red;
    }

    .special-text {
      position: absolute;
      right: 64px;
      display: none;
      font-family: $open-sans;
      font-weight: bold;
      font-size: 1.2rem;
      color:black;
      text-shadow: 1px 1px $gold;
      letter-spacing: 0.3ch;
    }

    .arrow {
      width: 2.3rem;
      position: absolute;
      left: 20px;
      transform: rotate(0deg);
      transition: $slow;
    }
  }

  &:hover {
    width: 10rem;

    .logo {
      .brand {
        display: inline;
      }

      .arrow {
        left: 132px;
        animation: spin 1.4s linear infinite;
      }

      &:hover {
        .special-text { display: inline; }
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          .link-text {
            display: inline;
          }
        }
      }
    }
  }

  .navbar-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    .nav-item {
      width: 100%;
      &:last-child {
        margin-top: auto;
      }

      .nav-link {
        height: 4rem;
        display: flex;
        align-items: center;
        font-family: $open-sans;
        color: $txt-primary;
        opacity: 0.3;
        text-decoration: none;
        transition: $slow;

        svg {
          width: 2rem;
          min-width: 2rem;
          margin: 0 1.5rem;
        }

        .link-text {
          margin-left: 1rem;
          display: none;
          font-size: 0.9em;
        }

        &:hover {
          opacity: 1;
          background-color: opacify($color: $gray, $amount: 0);
        }
      }
    }
  }
}

.fa-primary {
  color: $light-gold;
}

.fa-secondary {
  color: $gold;
}

.fa-primary,
.fa-secondary {
  transition: $slow;
}

@media (max-width: 768px) {
  .navbar {
    bottom: 0;
    height: 5rem;
    width: 100vw;

    .logo	{
      display: none;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          justify-content: center;
        }
      }
    }
  }
}