.navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  transition: width $transition-speed ease;
  background-color: $bg-secondary;
  .logo {
    height: 5rem;
    width: 100vw;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $txt-primary;
    .logo-text {
      display: none;
      font-family: $open-sans;
      font-size: 3rem;
      color:black;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px $gold;
    }
    .logo-ext {
      margin-left: auto;
      display: flex;
      align-items: center;
      span {
        display: none;
        font-family: $open-sans;
        font-weight: bold;
        font-size: 1.2rem;
        color:black;
        text-shadow: 1px 1px $gold;
        letter-spacing: 0.3ch;
      }
      svg {
        width: 1.5em;
        margin: 0 10px;
        transform: rotate(0deg);
        transition: $transition-speed;
      }
    }
    &:hover {
      .logo-ext {
        span { display: inline; }        
        svg { transform: rotate(-180deg); }
      }
    }
  }
  .navbar-nav {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    .nav-item {
      width: 100%;
      &:last-child {
        margin-top: auto;
      }
      .nav-link {
        height: 5rem;
        display: flex;
        align-items: center;
        font-family: $open-sans;
        color: $txt-primary;
        text-decoration: none;
        svg {
          width: 2rem;
          min-width: 2rem;
          margin: 0 1.5rem;
        }
        .link-text {
          margin-left: 1rem;
          display: none;
          font-size: 0.9em;
        }
      }
    }
  }
}

.fa-primary {
  color: $light-gold;
}

.fa-secondary {  
  color: $gold;  
}

.fa-primary,
.fa-secondary {
  transition: $transition-speed;
}

@media only screen and (max-width: 600px) {
  .navbar	{
    bottom: 0;
    height: 5rem;
    width: 100vw;
    .logo	{
      display: none;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    height: 100vh;
    width: 5rem;
    flex-direction: column;
    &:hover {
      width: 13rem;
      .logo {
        .logo-text { display: inline; }
      }
      .navbar-nav {
        .nav-item {
          .link-text {
            display: inline;
          }
        }
      } 
    }
    .navbar-nav	{
      flex-direction: column;
    }
  }
}