//colors
$txt-primary: #b6b6b6;
$txt-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$gold: #DAA520;
$light-gold: #fccf09;
$red: #841515;
$black: #000000;
$gray: #2b2b2b;

//speeds
$slow: 600ms;

//fonts
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat Subrayada', sans-serif;
$roboto: 'Roboto', sans-serif;