<div>
  <div>
    <h1>Edit Review</h1>
    <%= simple_form_for([@book, @review]) do |f| %>
      <div></div>
      <%= f.input  :comment %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>